.img {
  height: 90vh;
  background-image: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  padding-top: 10%;
  text-align: center;
  color: white;
}

p.headerlogo{
    font-size: 300%;
}

p {
    font-size: 100%;
}

.imgwidth{
padding: 0;
}

.imgwidth2{
padding: 4%;
}

.bgparty{
background-color:#F15A29;
color: black;
}

.happy{
height: 96.5px;
width:300px;
}

.overlay-mini {
font-family: 'Sorts Mill Goudy', times;
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.imgwidth:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.imgwidth:hover .text {
font-family: 'Sorts Mill Goudy', times;
color: black;
}

.text {
text-align: center;
font-size: 200%;
font-style: italic;
color: white;
padding-top: 25%;
}

.text1 {
text-align: center;
font-size: 200%;
color: black;
padding-top: 10%;
}

.text2 {
text-align: center;
font-size: 100%;
color: #F15A29;
}

.text3 {
  padding: 5%;
  text-align: center;
}

.text3 h2 {
color: #F15A29;
}

#text3 {
  padding-top: 15%;
  text-align: left;
  font-size: 16px;
}

#text4 {
  padding-top: 0;
  text-align: right;
  font-size: 16px;
}

.fasts{
margin: 15%;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0px 5px 5px grey;
}

.fasts img {
  height: 200px;
  width: 435px;
}

.fasts2{
  margin-bottom: 10%;
  margin-left: 10%;
  box-shadow: 0px 6px 20px 0px grey;
  padding: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.fasts2 img {
  height: 420px;
  width: 300px;
}

.container-fluid {
  padding-top: 0;
}

.container-fluid2 {
  padding-top: 0;
  padding-left: 6%;
  padding-right: 3%;
}

.image {
    float: left;
    margin: 0 0 10px 10px;
}

.image1 {
    float: right;
    margin: 20px 20px 20px 20px;
}

.fastfood {
    height: 600px;
    width: 100%;
    background-image: url("../images/backgrounds/foodsBg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: black;
}

#fastFood {
    text-align: center;
    padding-top: 100px;
    display:inline-block;
}

.fastFood {
    height: 380px;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
}

.button {
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}

.button1 {
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}

.button2 {
color: #F15A29;
border-style: none;
background-color: transparent;
}

button.right {
  position: relative;
  right: 0px;
}

button.left {
    position: relative;
    left: 0px;
}

.fastFood img {
margin: 12px;
}

.main-rows {
    margin-top: 100px;
    margin-bottom: 100px;
    background: #fff;
    padding: 0;
}

.row2 {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -200px;
  }

.nav-tabs {
    background: lightgrey;
    font-family: 'Sorts Mill Goudy', times;
    padding: 0px;
  }

.nav {
    margin-bottom: 20px;
    list-style: none;
  }

.ul {
   margin-top: 0;
 }

 .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
 }

.nav>li {
    position: relative;
    display: block;
  }

.nav-tabs>li.active>a {
      color: #F15A29;
      cursor: default;
      background-color: #fff;
      border-bottom-color: transparent;
      border-color: transparent;
  }

  .nav-tabs li a {
      color: #000;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.7em;
      text-align: center;
      padding: 15px 102.765px;
      width: 100%;
      border-right: solid grey 1px;
  }

  .nav-tabs>li>a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
    }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 20px 70px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.customerabout {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    color: black;
}

.arrow {
    color: #F15A29;
    font-size: 20px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }

.lft {
border-right: 1px solid lightgrey;
}

.subscribed {
height: 300px;
width: 100%;
background-image: url("../images/backgrounds/subscribe.jpg");
padding: 0;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

.subscribed h2 {
  color: white;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 110px;
  }

.get {
  font-family: 'Sorts Mill Goudy', times;
}

.subscribe-form {
  margin-top: 10px;
  margin-left: 80px;
}

.row-form {
    padding-left: 50px;
}

.row3 {
    margin-right: -15px;
    margin-left: -15px;
}

.mail-1 {
    width: 350px;
    margin-right: 20px;
    text-align: center;
}

.subscribe-form .button-holder {
    text-align: left;
}

.subscribe-form input.email {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    outline: 0;
    border: 0;
    padding: 10px 15px;
    display: inline-block;
    font-size: 14px;
    width: 350px;
    height: 55px;
    margin-right: 15px;
    font-family: 'Sorts Mill Goudy', times;
    letter-spacing: 1px;
    font-size: 1.2em;
    margin-top: 6px;
}

.subscribe-form input.button {
    background: #F15A29;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    width: 250px;
    height: 55px;
    font-family: 'Sorts Mill Goudy', times;
    font-size: 1.2em;
}

.subscribe-form input.button:hover {
    background-color: green;
}
